<!DOCTYPE html>
<html language = "en">
<html>
  <head>
    <meta charset = "UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="view.css">
    <script src = "https://unpkg.com/nile.js@1.0.11/client/dist/nile.Viewer.min.js"></script>
  </head>
  <body>
    <div>Video</div>
     <div id="videos"></div>
     <!-- <div>
       <code id="numPeers">0 peers</code><br>
     </div> -->
    <script type = "text/javascript" src = "view.js"></script>
  </body>
</html>
