<!DOCTYPE html>
<html language = "en">
<html>
  <head>
    <meta charset = "UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="view.css">
    <script src = "https://unpkg.com/nile.js@1.0.11/client/dist/nile.Viewer.min.js"></script>
  </head>
  <body>
    <div>Video</div>
     <div id="videos"></div>
     <!-- <div>
       <code id="numPeers">0 peers</code><br>
     </div> -->
    <script type = "text/javascript" src = "view.js"></script>
    <script>
//       (function(){
//       var videos =  document.getElementById("videos");
//       var videoOne = document.getElementById("player1");
//       var videoTwo = document.getElementById("player2");
//       var videoThree = document.getElementById("player3");
//       var all = [videos,videoOne, videoTwo, videoThree];
//
//       for(var i = 0; i <= all.length - 1; i++){
//         all[i].setAttribute("playsinline", true);
//         all[i].setAttribute("controls", true);
//         setTimeout(() => {
//           all[i].removeAttribute("controls");
// });
//       }
//         //videos.setAttribute("webkit-playsinline", "webkit-playsinline");
//         console.log(videos);
//
//       })();

    </script>
  </body>
</html>
